.Burger {
    width: 30vw;
    margin: 0px auto;
}

@media (max-width: 750px) {
    .Burger {
        width: 90vw;
    }

    h2 {
        font-size: 1.1rem;
    }

    strong {
        font-size: 0.8rem;
    }
}