.BasketPopup {
    position: absolute;
    left: 0px;
    z-index: 500;
    width: 200px;
    background-color: #737373;
    color: white;
    box-sizing: border-box;
}

.ItemRow {
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: center;
    padding: 0px;
    margin: 0px;
    border-bottom: 1px solid white;
}

.TotalRow {
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

@media (max-width: 750px) {
    .BasketPopup {
        display: none;
    }
}