.BurgerBuilder {
    position: relative;
    padding-top: 30px;
    height: 100%;
}

.BurgerContainer {
    width: 40%;
    margin: 0 auto;
}

.TraceSpinner {
    width: 49.5px;
    height: 49.5px;
    margin: 200px auto!important;
    text-align:center;
}