.BurgerBuilder {
    position: relative;
    padding-top: 30px;
    min-width: 340px;
    width: 100%;
    margin: 0 auto;
}

.BurgerContainer {
    width: 60%;
    margin: 0 auto;
}

.TraceSpinner {
    width: 49.5px;
    height: 49.5px;
    margin: 200px auto!important;
    text-align:center;
}

h2 {
    font-size: 0.9rem;
}

@media (min-width:600px){
    .BurgerBuilder {
        width: 600px;
    }

    h2 {
        font-size: 1.1rem;
    }
}