.SideDrawer {
    position: fixed;
    top: 56px;
    left: 0px;
    height: 100vh;
    width: 200px;
    z-index: 500;
    background-color: #262626;
    color: white;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

@media (min-width: 750px) {
    .SideDrawer {
        display: none;
    }
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-110%);
}