@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./assets/chopping-board.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}

#root {
  height: 100%;
  box-sizing: border-box;
}

.DefaultButton {
  border: 1px solid green;
  background-color: green;
  color: white;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  text-decoration: none;
}

.DefaultButton:hover {
  background-color: lime;
  color: black
}

.DefaultButton:disabled {
  cursor: not-allowed;
  background-color: gray;
  color: black;
}

.CancelButton {
  border: 1px solid red;
  background-color: red;
  color: white;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  text-decoration: none;
}

.CancelButton:hover {
  background-color: #ff4d4d;
  color: black
}

.CancelButton:disabled {
  cursor: not-allowed;
  background-color: gray;
  color: black;
}

.CloseX {
  border: 1px solid red;
  background-color: red;
  color: white;
  font-size: small;
  padding: 5px;
}

.CloseX:hover {
  background-color: #ff4d4d;
  color: black
}

.CloseX:disabled {
  cursor: not-allowed;
  background-color: gray;
  color: black;
}
